*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {

    font-family: Chivo;
    src: url(/portfolio_second/assets/fonts/chivo.woff2);
}

:root {

    --fonts-body: Poppins;
    --fonts-title: Poppins;
}

body {
    background-color: #121212;
    color: #ffffff;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

body::-webkit-scrollbar {
    background-color: #1D1D1D;
    height: 5px;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #5c5c5c;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #b3b3b3;
}


.mainContainer {
    width: 80ch;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: var(--fonts-title);
}

.myName {
    color: transparent;
    -webkit-background-clip: text;
    background-image: radial-gradient(circle at 50% -20.71%, #e459ea 0, #c84ded 16.67%, #a544f0 33.33%, #783cf2 50%, #2538f4 66.67%, #0039f5 83.33%, #003af6 100%);
}

.mainTitleBody {
    font-family: var(--fonts-body);
    margin-bottom: 20px;
    text-decoration-color: gray !important;
    text-decoration-thickness: 1px !important;
    text-decoration: underline;
    text-underline-offset: 6px;
    -webkit-background-clip: text;
    background-image: radial-gradient(circle at 50% -20.71%, #e459ea 0, #c84ded 16.67%, #a544f0 33.33%, #783cf2 50%, #2538f4 66.67%, #0039f5 83.33%, #003af6 100%);
    color: transparent;
    width: fit-content;
}

p {
    font-family: var(--fonts-body);
}

.presentation {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0 auto;
    width: 80%;
}

.namePresentation{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50vw;
}

.presentation img {
    border-color: #673CF3 !important;
    border-radius: 100%;
    border: 0.2rem solid;
    height:300px;
    padding: 5px;
    width:300px;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
}

.btnCurriculum button {
    background-color: #1500B0;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;

}

.btnCurriculum button:hover {
    background-color: #ffffff;
    color: #1500B0;
}

.contacto {
    margin-top: 80px;
    position: relative;

}

.contactTitle {
    margin-bottom: 30px;
}

.contactCard {
    color: #ffffff;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    width: fit-content;
}

.contactCard h4 {
    text-decoration: none;
}

.contactCard:hover {
    color: #6c5ed8;
}

.linkedin_logo {
    background-color: #016399;
    border-radius: 10px;
    margin-top: 40px;
    padding: 10px;
    width: 20px;
}

.education, .experience {
    margin-top: 70px;
}

.educationCards, .experienceCards{
    margin-top: 30px;
}

.experienceCardContainer, .educationCardContainer{
    margin-bottom: 25px;
}

.experienceDate{
    color: gray;
}

.experienceCardContainer, .educationCardContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.experienceCardContainer > p, .educationCardContainer > p:first-child {
    font-weight: bold;
    font-size: 18px;
}

.skillsTitle {
    margin-top: 70px;
}

.skillsAndToolsContainer {
    background-color: #1D1D1D;
    border-radius: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 20px;
}

.skillsAndToolsCard {
    align-items: center;
    background-color: #121212;
    border-radius: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.skillsAndToolsCard:hover {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(33,33,33,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(33,33,33,1);
    box-shadow: 0px 0px 5px 5px rgba(33,33,33,1);
}
.skillsAndToolsCard img{
    height: 40px;
    width: 40px;
}

.skillsAndToolsCard > h4 {
    font-family: var(--fonts-body);
    font-size: 20px;
}

#nextLogo {
    background-color: #ffffff;
    border-radius: 100%;
    padding: 5px;
}

.proyectsContainer {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: fit-content;
    margin-top: 30px;

}

.proyectCard {
    align-items: center;
    background-color: #3b3b3b65;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.proyectCard:hover {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(33,33,33,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(33,33,33,1);
    box-shadow: 0px 0px 5px 5px rgba(33,33,33,1);
    transform: scale(1.01);
    transition: all 0.3s ease-out;
}


.proyectCardTitle {
    background-color: #1D1D1D;
    border-radius: 50px;
    font-family: var(--fonts-body);
    font-size: 16px;
    left: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    position:absolute;
    top: 10px;
}

.proyectCardMainImage img {
    border-radius: 20px;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    height: 200px;
    object-fit: cover;
    width: 100%;
    width: 300px;
}

.proyectCardTechnologies {
    background-color: #1D1D1D;
    border-radius: 50px;
    bottom: 10px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    position: absolute;
    right: 10px;
}

.proyectCardTechnologies img {
    width: 30px;
    height: 30px;
}

.footerInfo {
    background-color: #1d1d1d;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 80px;
    padding: 20px 0;
}

.personalInfoFooter{
    display: flex;
    gap: 50px;
    justify-content: left;
    width: 80ch;
}

.personalInfoFooter h4 {
    text-decoration: none;
}

.footerLogos {
    display: flex;
    gap: 12px;
}

.footerLogos a {
    color: #ffffff;
}

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 1100px) and (orientation:portrait) {

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 50px;
        justify-content: center;
    }

    .profilePic {
        display: flex;
        justify-content: left;
    }

    .profilePic img {
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }

    .namePresentation {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .mainContainer {
        width: 80%;
        margin: 0 auto;
    }

    .skillsAndToolsContainer {
        background-color: #1D1D1D;
        border-radius: 20px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    
    .proyectsContainer {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }


    .proyectCardMainImage img {
        width: 100%;
    }

    .personalInfoFooter {
        align-items: center;
        display: flex;
        gap: 50px;
        width: 80%;
    }

    .personalInfoFooter h4 {
        margin-bottom: 0px;
    }


}

/*movil*/
/*Portrait*/

@media (max-width: 575.98px)and (orientation:portrait) {

    .presentation {
        align-items: left;
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 100vh;
        justify-content: center;
    }

    .profilePic {
        width: 100%;
    }

    .profilePic img {
        height: 250px;
        width: 250px;    
    }

    .namePresentation {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: left;
        width: 100%;
    }

    h1 {
        font-size: 32px;
    }

    .myName {
        font-size: 38px;
    }

    .mainContainer {
        width: 90%;
        margin: 0 auto;
    
    }

    .educationCardContainer, .experienceCardContainer {
        display: block;
    }

    .skillsAndToolsContainer {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        margin-bottom: 80px;
        margin-top: 50px;
    }

    .skillsAndToolsCard {
        align-items: center;
        background-color: #121212;
        border-radius: 20px;
        display: flex;
        gap: 20px;
        justify-content: left;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }

    .proyectsContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        width: 100%;
    }

    .proyectCardMainImage img {
        width: 100%;
        height: auto;
    }

    .personalInfoFooter {
        align-items: center;
        display: flex;
        gap: 50px;
        width: 80%;
    }

    .personalInfoFooter h4 {
        margin-bottom: 0px;
    }

}

